*{
  box-sizing:border-box;
}

body{
  font-family:sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  margin:0;

  background:#ffeef2;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

/* overlay */
body::before{
  content:"";
  position:fixed;
  inset:0;
  background:rgba(255,238,242,0.75);
  backdrop-filter:blur(2px);
  z-index:-1;
}

.card{
  background:white;
  padding:24px;
  border-radius:20px;
  text-align:center;
  width:90%;
  max-width:340px;
  box-shadow:0 10px 25px rgba(0,0,0,.12);
}

input{
  width:100%;
  padding:10px;
  border-radius:10px;
  border:1px solid #eee;
  margin-bottom:10px;
  font-size:16px;
}

button{
  background:#ff7aa2;
  border:none;
  padding:10px 20px;
  border-radius:10px;
  color:white;
  cursor:pointer;
  transition:.2s;
  font-size:15px;
}

button:hover{
  transform:scale(1.05);
}

button:active{
  transform:scale(.97);
}

.hidden{
  display:none;
}

#flowerImg{
  width:180px;
  margin:10px 0;
}

.card.animate{
  animation:pop .4s ease;
}

@keyframes pop{
  0%{transform:scale(.9);opacity:.5}
  100%{transform:scale(1);opacity:1}
}